body {
  display: flex;
  height: 100vh;
  align-items: center;
  align-content: center;
}

form  {
  width: 300px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;

}
form div {
  width: 100%;
}
div input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button.btn {
  width: 100%;
  height: 36px;
  background: blue;
  color: white;
  border-radius: 5px;
}
